In [2]:
## import necessary libraries
!pip install requests beautifulsoup4
import requests
from bs4 import BeautifulSoup

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [6]:
from bs4 import BeautifulSoup

# HTML content of the quarterly net income table
html_content = """
<div class="col-xs-6">

				<table class="historical_data_table table">
				<thead>
				  <tr>
					<th colspan=2 style="text-align:center">Apple Quarterly Net Income<br /><span style="font-size:14px;">(Millions of US $)</span></th>
				  </tr>
				</thead>
				<tbody>


				<tr>
					<td style="text-align:center">2023-12-31</td>





						<td style="text-align:center">$33,916</td>



				  </tr>


				<tr>
					<td style="text-align:center">2023-09-30</td>





						<td style="text-align:center">$22,956</td>



				  </tr>


				<tr>
					<td style="text-align:center">2023-06-30</td>





						<td style="text-align:center">$19,881</td>



				  </tr>


				<tr>
					<td style="text-align:center">2023-03-31</td>





						<td style="text-align:center">$24,160</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-12-31</td>





						<td style="text-align:center">$29,998</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-09-30</td>





						<td style="text-align:center">$20,721</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-06-30</td>





						<td style="text-align:center">$19,442</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-03-31</td>





						<td style="text-align:center">$25,010</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-12-31</td>





						<td style="text-align:center">$34,630</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-09-30</td>





						<td style="text-align:center">$20,551</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-06-30</td>





						<td style="text-align:center">$21,744</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-03-31</td>





						<td style="text-align:center">$23,630</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-12-31</td>





						<td style="text-align:center">$28,755</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-09-30</td>





						<td style="text-align:center">$12,673</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-06-30</td>





						<td style="text-align:center">$11,253</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-03-31</td>





						<td style="text-align:center">$11,249</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-12-31</td>





						<td style="text-align:center">$22,236</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-09-30</td>





						<td style="text-align:center">$13,686</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-06-30</td>





						<td style="text-align:center">$10,044</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-03-31</td>





						<td style="text-align:center">$11,561</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-12-31</td>





						<td style="text-align:center">$19,965</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-09-30</td>





						<td style="text-align:center">$14,125</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-06-30</td>





						<td style="text-align:center">$11,519</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-03-31</td>





						<td style="text-align:center">$13,822</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-12-31</td>





						<td style="text-align:center">$20,065</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-09-30</td>





						<td style="text-align:center">$10,714</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-06-30</td>





						<td style="text-align:center">$8,717</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-03-31</td>





						<td style="text-align:center">$11,029</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-12-31</td>





						<td style="text-align:center">$17,891</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-09-30</td>





						<td style="text-align:center">$9,014</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-06-30</td>





						<td style="text-align:center">$7,796</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-03-31</td>





						<td style="text-align:center">$10,516</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-12-31</td>





						<td style="text-align:center">$18,361</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-09-30</td>





						<td style="text-align:center">$11,124</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-06-30</td>





						<td style="text-align:center">$10,677</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-03-31</td>





						<td style="text-align:center">$13,569</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-12-31</td>





						<td style="text-align:center">$18,024</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-09-30</td>





						<td style="text-align:center">$8,467</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-06-30</td>





						<td style="text-align:center">$7,748</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-03-31</td>





						<td style="text-align:center">$10,223</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-12-31</td>





						<td style="text-align:center">$13,072</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-09-30</td>





						<td style="text-align:center">$7,512</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-06-30</td>





						<td style="text-align:center">$6,900</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-03-31</td>





						<td style="text-align:center">$9,547</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-12-31</td>





						<td style="text-align:center">$13,078</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-09-30</td>





						<td style="text-align:center">$8,223</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-06-30</td>





						<td style="text-align:center">$8,824</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-03-31</td>





						<td style="text-align:center">$11,622</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-12-31</td>





						<td style="text-align:center">$13,064</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-09-30</td>





						<td style="text-align:center">$6,623</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-06-30</td>





						<td style="text-align:center">$7,308</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-03-31</td>





						<td style="text-align:center">$5,987</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-12-31</td>





						<td style="text-align:center">$6,004</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-09-30</td>





						<td style="text-align:center">$4,308</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-06-30</td>





						<td style="text-align:center">$3,253</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-03-31</td>





						<td style="text-align:center">$3,074</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-12-31</td>





						<td style="text-align:center">$3,378</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-09-30</td>





						<td style="text-align:center">$2,532</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-06-30</td>





						<td style="text-align:center">$1,828</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-03-31</td>





						<td style="text-align:center">$1,620</td>



				  </tr>


				</tbody>
			  </table>

			  </div>



</div>
"""

# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

# Find the table
table = soup.find('table', class_='historical_data_table')

# Initialize empty list to store data
quarterly_net_income = []

# Find all rows in the table body
rows = table.find('tbody').find_all('tr')

# Iterate through each row and extract the date and net income
for row in rows:
    cols = row.find_all('td')
    date = cols[0].get_text().strip()
    income = cols[1].get_text().strip().replace('$', '').replace(',', '')  # Remove $ and commas
    quarterly_net_income.append((date, int(income)))  # Convert income to integer

# Print the scraped data
for date, income in quarterly_net_income:
    print(f"Date: {date}, Net Income: ${income} million")

Date: 2023-12-31, Net Income: $33916 million
Date: 2023-09-30, Net Income: $22956 million
Date: 2023-06-30, Net Income: $19881 million
Date: 2023-03-31, Net Income: $24160 million
Date: 2022-12-31, Net Income: $29998 million
Date: 2022-09-30, Net Income: $20721 million
Date: 2022-06-30, Net Income: $19442 million
Date: 2022-03-31, Net Income: $25010 million
Date: 2021-12-31, Net Income: $34630 million
Date: 2021-09-30, Net Income: $20551 million
Date: 2021-06-30, Net Income: $21744 million
Date: 2021-03-31, Net Income: $23630 million
Date: 2020-12-31, Net Income: $28755 million
Date: 2020-09-30, Net Income: $12673 million
Date: 2020-06-30, Net Income: $11253 million
Date: 2020-03-31, Net Income: $11249 million
Date: 2019-12-31, Net Income: $22236 million
Date: 2019-09-30, Net Income: $13686 million
Date: 2019-06-30, Net Income: $10044 million
Date: 2019-03-31, Net Income: $11561 million
Date: 2018-12-31, Net Income: $19965 million
Date: 2018-09-30, Net Income: $14125 million
Date: 2018-06-30, Net Income: $11519 million
Date: 2018-03-31, Net Income: $13822 million
Date: 2017-12-31, Net Income: $20065 million
Date: 2017-09-30, Net Income: $10714 million
Date: 2017-06-30, Net Income: $8717 million
Date: 2017-03-31, Net Income: $11029 million
Date: 2016-12-31, Net Income: $17891 million
Date: 2016-09-30, Net Income: $9014 million
Date: 2016-06-30, Net Income: $7796 million
Date: 2016-03-31, Net Income: $10516 million
Date: 2015-12-31, Net Income: $18361 million
Date: 2015-09-30, Net Income: $11124 million
Date: 2015-06-30, Net Income: $10677 million
Date: 2015-03-31, Net Income: $13569 million
Date: 2014-12-31, Net Income: $18024 million
Date: 2014-09-30, Net Income: $8467 million
Date: 2014-06-30, Net Income: $7748 million
Date: 2014-03-31, Net Income: $10223 million
Date: 2013-12-31, Net Income: $13072 million
Date: 2013-09-30, Net Income: $7512 million
Date: 2013-06-30, Net Income: $6900 million
Date: 2013-03-31, Net Income: $9547 million
Date: 2012-12-31, Net Income: $13078 million
Date: 2012-09-30, Net Income: $8223 million
Date: 2012-06-30, Net Income: $8824 million
Date: 2012-03-31, Net Income: $11622 million
Date: 2011-12-31, Net Income: $13064 million
Date: 2011-09-30, Net Income: $6623 million
Date: 2011-06-30, Net Income: $7308 million
Date: 2011-03-31, Net Income: $5987 million
Date: 2010-12-31, Net Income: $6004 million
Date: 2010-09-30, Net Income: $4308 million
Date: 2010-06-30, Net Income: $3253 million
Date: 2010-03-31, Net Income: $3074 million
Date: 2009-12-31, Net Income: $3378 million
Date: 2009-09-30, Net Income: $2532 million
Date: 2009-06-30, Net Income: $1828 million
Date: 2009-03-31, Net Income: $1620 million

In [7]:
# HTML content of the quarterly revenue table
html_content = """
 </div>

			  <div class="col-xs-6">

				<table class="historical_data_table table">
				<thead>
				  <tr>
					<th colspan=2 style="text-align:center">Apple Quarterly Revenue<br /><span style="font-size:14px;">(Millions of US $)</span></th>
				  </tr>
				</thead>
				<tbody>


				<tr>
					<td style="text-align:center">2023-12-31</td>





						<td style="text-align:center">$119,575</td>



				  </tr>


				<tr>
					<td style="text-align:center">2023-09-30</td>





						<td style="text-align:center">$89,498</td>



				  </tr>


				<tr>
					<td style="text-align:center">2023-06-30</td>





						<td style="text-align:center">$81,797</td>



				  </tr>


				<tr>
					<td style="text-align:center">2023-03-31</td>





						<td style="text-align:center">$94,836</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-12-31</td>





						<td style="text-align:center">$117,154</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-09-30</td>





						<td style="text-align:center">$90,146</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-06-30</td>





						<td style="text-align:center">$82,959</td>



				  </tr>


				<tr>
					<td style="text-align:center">2022-03-31</td>





						<td style="text-align:center">$97,278</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-12-31</td>





						<td style="text-align:center">$123,945</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-09-30</td>





						<td style="text-align:center">$83,360</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-06-30</td>





						<td style="text-align:center">$81,434</td>



				  </tr>


				<tr>
					<td style="text-align:center">2021-03-31</td>





						<td style="text-align:center">$89,584</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-12-31</td>





						<td style="text-align:center">$111,439</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-09-30</td>





						<td style="text-align:center">$64,698</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-06-30</td>





						<td style="text-align:center">$59,685</td>



				  </tr>


				<tr>
					<td style="text-align:center">2020-03-31</td>





						<td style="text-align:center">$58,313</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-12-31</td>





						<td style="text-align:center">$91,819</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-09-30</td>





						<td style="text-align:center">$64,040</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-06-30</td>





						<td style="text-align:center">$53,809</td>



				  </tr>


				<tr>
					<td style="text-align:center">2019-03-31</td>





						<td style="text-align:center">$58,015</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-12-31</td>





						<td style="text-align:center">$84,310</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-09-30</td>





						<td style="text-align:center">$62,900</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-06-30</td>





						<td style="text-align:center">$53,265</td>



				  </tr>


				<tr>
					<td style="text-align:center">2018-03-31</td>





						<td style="text-align:center">$61,137</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-12-31</td>





						<td style="text-align:center">$88,293</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-09-30</td>





						<td style="text-align:center">$52,579</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-06-30</td>





						<td style="text-align:center">$45,408</td>



				  </tr>


				<tr>
					<td style="text-align:center">2017-03-31</td>





						<td style="text-align:center">$52,896</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-12-31</td>





						<td style="text-align:center">$78,351</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-09-30</td>





						<td style="text-align:center">$46,852</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-06-30</td>





						<td style="text-align:center">$42,358</td>



				  </tr>


				<tr>
					<td style="text-align:center">2016-03-31</td>





						<td style="text-align:center">$50,557</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-12-31</td>





						<td style="text-align:center">$75,872</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-09-30</td>





						<td style="text-align:center">$51,501</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-06-30</td>





						<td style="text-align:center">$49,605</td>



				  </tr>


				<tr>
					<td style="text-align:center">2015-03-31</td>





						<td style="text-align:center">$58,010</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-12-31</td>





						<td style="text-align:center">$74,599</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-09-30</td>





						<td style="text-align:center">$42,123</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-06-30</td>





						<td style="text-align:center">$37,432</td>



				  </tr>


				<tr>
					<td style="text-align:center">2014-03-31</td>





						<td style="text-align:center">$45,646</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-12-31</td>





						<td style="text-align:center">$57,594</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-09-30</td>





						<td style="text-align:center">$37,472</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-06-30</td>





						<td style="text-align:center">$35,323</td>



				  </tr>


				<tr>
					<td style="text-align:center">2013-03-31</td>





						<td style="text-align:center">$43,603</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-12-31</td>





						<td style="text-align:center">$54,512</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-09-30</td>





						<td style="text-align:center">$35,966</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-06-30</td>





						<td style="text-align:center">$35,023</td>



				  </tr>


				<tr>
					<td style="text-align:center">2012-03-31</td>





						<td style="text-align:center">$39,186</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-12-31</td>





						<td style="text-align:center">$46,333</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-09-30</td>





						<td style="text-align:center">$28,270</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-06-30</td>





						<td style="text-align:center">$28,571</td>



				  </tr>


				<tr>
					<td style="text-align:center">2011-03-31</td>





						<td style="text-align:center">$24,667</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-12-31</td>





						<td style="text-align:center">$26,741</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-09-30</td>





						<td style="text-align:center">$20,343</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-06-30</td>





						<td style="text-align:center">$15,700</td>



				  </tr>


				<tr>
					<td style="text-align:center">2010-03-31</td>





						<td style="text-align:center">$13,499</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-12-31</td>





						<td style="text-align:center">$15,683</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-09-30</td>





						<td style="text-align:center">$12,207</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-06-30</td>





						<td style="text-align:center">$9,734</td>



				  </tr>


				<tr>
					<td style="text-align:center">2009-03-31</td>





						<td style="text-align:center">$9,084</td>



				  </tr>


				</tbody>
			  </table>

			  </div>


"""

# Parse the HTML content
soup = BeautifulSoup(html_content, 'html.parser')

# Find the table
table = soup.find('table', class_='historical_data_table')

# Initialize empty list to store data
quarterly_revenue = []

# Find all rows in the table body
rows = table.find('tbody').find_all('tr')

# Iterate through each row and extract the date and revenue
for row in rows:
    cols = row.find_all('td')
    date = cols[0].get_text().strip()
    revenue = cols[1].get_text().strip().replace('$', '').replace(',', '')  # Remove $ and commas
    quarterly_revenue.append((date, int(revenue)))  # Convert revenue to integer

# Print the scraped data
for date, revenue in quarterly_revenue:
    print(f"Date: {date}, Revenue: ${revenue} million")

Date: 2023-12-31, Revenue: $119575 million
Date: 2023-09-30, Revenue: $89498 million
Date: 2023-06-30, Revenue: $81797 million
Date: 2023-03-31, Revenue: $94836 million
Date: 2022-12-31, Revenue: $117154 million
Date: 2022-09-30, Revenue: $90146 million
Date: 2022-06-30, Revenue: $82959 million
Date: 2022-03-31, Revenue: $97278 million
Date: 2021-12-31, Revenue: $123945 million
Date: 2021-09-30, Revenue: $83360 million
Date: 2021-06-30, Revenue: $81434 million
Date: 2021-03-31, Revenue: $89584 million
Date: 2020-12-31, Revenue: $111439 million
Date: 2020-09-30, Revenue: $64698 million
Date: 2020-06-30, Revenue: $59685 million
Date: 2020-03-31, Revenue: $58313 million
Date: 2019-12-31, Revenue: $91819 million
Date: 2019-09-30, Revenue: $64040 million
Date: 2019-06-30, Revenue: $53809 million
Date: 2019-03-31, Revenue: $58015 million
Date: 2018-12-31, Revenue: $84310 million
Date: 2018-09-30, Revenue: $62900 million
Date: 2018-06-30, Revenue: $53265 million
Date: 2018-03-31, Revenue: $61137 million
Date: 2017-12-31, Revenue: $88293 million
Date: 2017-09-30, Revenue: $52579 million
Date: 2017-06-30, Revenue: $45408 million
Date: 2017-03-31, Revenue: $52896 million
Date: 2016-12-31, Revenue: $78351 million
Date: 2016-09-30, Revenue: $46852 million
Date: 2016-06-30, Revenue: $42358 million
Date: 2016-03-31, Revenue: $50557 million
Date: 2015-12-31, Revenue: $75872 million
Date: 2015-09-30, Revenue: $51501 million
Date: 2015-06-30, Revenue: $49605 million
Date: 2015-03-31, Revenue: $58010 million
Date: 2014-12-31, Revenue: $74599 million
Date: 2014-09-30, Revenue: $42123 million
Date: 2014-06-30, Revenue: $37432 million
Date: 2014-03-31, Revenue: $45646 million
Date: 2013-12-31, Revenue: $57594 million
Date: 2013-09-30, Revenue: $37472 million
Date: 2013-06-30, Revenue: $35323 million
Date: 2013-03-31, Revenue: $43603 million
Date: 2012-12-31, Revenue: $54512 million
Date: 2012-09-30, Revenue: $35966 million
Date: 2012-06-30, Revenue: $35023 million
Date: 2012-03-31, Revenue: $39186 million
Date: 2011-12-31, Revenue: $46333 million
Date: 2011-09-30, Revenue: $28270 million
Date: 2011-06-30, Revenue: $28571 million
Date: 2011-03-31, Revenue: $24667 million
Date: 2010-12-31, Revenue: $26741 million
Date: 2010-09-30, Revenue: $20343 million
Date: 2010-06-30, Revenue: $15700 million
Date: 2010-03-31, Revenue: $13499 million
Date: 2009-12-31, Revenue: $15683 million
Date: 2009-09-30, Revenue: $12207 million
Date: 2009-06-30, Revenue: $9734 million
Date: 2009-03-31, Revenue: $9084 million